<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../lib/jquery.js"></script>
</head>
<style>
    div {
        margin: 20px;
    }
</style>

<body>
    <h1>Formulario para ingresar y editar</h1>
    <form action="">
        <div>
            <label for="">Cedula</label>
            <input type="text" id="cedula">
        </div>
        <div>
            <label for="">Nombre</label>
            <input type="text" id="nombre">
        </div>
        <div>
            <label for="">Apellido</label>
            <input type="text" id="apellido">
        </div>
        <div>
            <label for="">Direccion</label>
            <input type="text" id="direccion">
        </div>
        <div>
            <label for="">Telefono</label>
            <input type="text" id="telefono">
        </div>
    </form>

    <div>
        <button>Editar</button>
    </div>

    <div id="ListaEstudiante"></div>

</body>

</html>