<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../jquery.js"></script>
    <title>Document</title>

</head>
<style>
    div {
        margin: 20px;
    }

    button {
        margin-left: 5px;
        background-color: aquamarine;
    }

    table,
    thead {
        border: 1px solid black;
        border-collapse: collapse;

        text-align: center;
    }

    th,
    td {
        border: 1px solid black;
        padding: 8px;
    }

    th {
        background-color: lightblue;
    }
</style>

<body>
    <h1>Formulario para ingresar y editar</h1>
    <form action="">
        <div>
            <label for="">Cedula</label>
            <input type="text" id="cedula">
        </div>
        <div>
            <label for="">Nombre</label>
            <input type="text" id="nombre">
        </div>
        <div>
            <label for="">Apellido</label>
            <input type="text" id="apellido">
        </div>
        <div>
            <label for="">Direccion</label>
            <input type="text" id="direccion">
        </div>
        <div>
            <label for="">Telefono</label>
            <input type="text" id="telefono">
        </div>
    </form>

    <div>
        <button id="editar">Editar</button>
        <button id="ingresar">Ingresar</button>
        <button id="eliminar">Eliminar</button>

        <button id="listar">Listar</button>
    </div>

    <div>
        <h3>buscar:</h3>
        <input type="text" id="buscarCedula">
        <button id="buscar">buscar</button>
    </div>

    <h4>Lista de Estudiante</h4>
    <div id="ListaEstudiante"></div>

</body>



</html>

<script>

    const urlApi = "http://localhost/Servicios/PracticaExamen/controller/ApiEstudiante.php";

    function limpiarFormulario() {
        $("#cedula").val("");
        $("#nombre").val("");
        $("#apellido").val("");
        $("#direccion").val("");
        $("#telefono").val("");
    }

    function listar() {
        $.ajax({
            url: urlApi,
            method: "GET",
            dataType: "json",
            success: function (data) {
                let html = `
                    <table>
                        <thead>
                            <tr>
                            <th>cedula</th>
                            <th>nombre</th>
                            <th>apellido</th>
                            <th>direccion</th>
                            <th>telefono</th>
                            </tr>
                        </thead>
                        <tbody>

                `;
                console.log("si entro al select");

                data.forEach(
                    function (estudiante) {
                        html += `
                        <tr>
                          <td>${estudiante.cedula}</td>
                            <td>${estudiante.nombre}</td>
                            <td>${estudiante.apellido}</td>
                            <td>${estudiante.direccion}</td>
                            <td>${estudiante.telefono}</td>
                        </tr>
                        
                        `;
                    }
                );

                html += `</tbody>
                        </table>`;

                $("#ListaEstudiante").html(html);


            }

        });
    }

    $("#listar").click(() => {
        listar();
    })

    listar();

    $("#buscar").click(() => {
        $.ajax({
            url: urlApi + "?cedula=" + $("#buscarCedula").val(),
            method: "GET",
            dataType: "json",
            success: function (data) {
                let html = `
                    <table>
                        <thead>
                            <tr>
                            <th>cedula</th>
                            <th>nombre</th>
                            <th>apellido</th>
                            <th>direccion</th>
                            <th>telefono</th>
                            </tr>
                        </thead>
                        <tbody>

                `;
                data.forEach(
                    function (estudiante) {
                        html += `
                        <tr>
                          <td>${estudiante.cedula}</td>
                            <td>${estudiante.nombre}</td>
                            <td>${estudiante.apellido}</td>
                            <td>${estudiante.direccion}</td>
                            <td>${estudiante.telefono}</td>
                        </tr>
                        
                        `;
                    }
                );

                html += `</tbody>
                        </table>`;

                $("#ListaEstudiante").html(html);
                limpiarFormulario();
            }

        });
    });

    $("#ingresar").click(() => {
        $.ajax({
            url: urlApi,
            method: "POST",
            dataType: "json",
            data: {
                cedula: $("#cedula").val(),
                nombre: $("#nombre").val(),
                apellido: $("#apellido").val(),
                direccion: $("#direccion").val(),
                telefono: $("#telefono").val()
            },
            success: function (data) {
                if (data) {
                    listar();
                } else {
                    alert("Error al ingresar estudiante");
                }
            }
        });
    });

    $("#eliminar").click(() => {
        $.ajax({
            url: urlApi + "?cedula=" + $("#cedula").val(),
            method: "DELETE",
            dataType: "json",
            success: function (data) {
                if (data) {
                    listar();
                } else {
                    alert("Error al eliminar estudiante");
                }
                limpiarFormulario();
            }
        });
    });

    $("#editar").click(() => {
        $.ajax({
            url: urlApi + "?cedula=" + $("#cedula").val() + "&nombre=" + $("#nombre").val() + "&apellido=" + $("#apellido").val() + "&direccion=" + $("#direccion").val() + "&telefono=" + $("#telefono").val(),
            method: "PUT",
            dataType: "json",

            success: function (data) {
                if (data) {
                    listar();
                } else {
                    alert("Error al editar estudiante");
                }
                limpiarFormulario();
            }
        });
    });

</script>